@media screen and (min-width: 1200px) {   
        .container{
        width: 1158px;
    }
    .section {
    padding: 120px 0;
}
.header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
            
}
.header-navigation {
    display: flex;
     
}
.header-list {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  display: flex;
  gap: 40px;
}
.header-item {
    background: var(--background-secondary-color);
    display: flex;
    gap: 40px;
}
.header-link{
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--link-color);
position: relative;
transition: color var(--transition-duration) var(--transition-function);
padding-top: 24px;
padding-bottom: 24px;
}
.header-link.active {
    color: var(--active-link-color);

 }
 .header-link:hover,
.header-link:focus {

    color: var(--hover-color); 
}
.header-link.active::after {
    content: '';
    width: 100%;
    height: 4px;
    background-color: var(--hover-color);
    border-radius: 2px;
    position: absolute;
    left: 0;
    bottom: -1px;

}
.header-adress {

font-style: normal;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--description-color);
display: flex;
gap: 40px;

}

.header-mailto{ 
    gap: 40px; 
    transition: color var(--transition-duration) var(--transition-function);
}
.header-tel {
    transition: color var(--transition-duration) var(--transition-function);
}

.header-mailto:hover,
.header-mailto:focus{

color: var(--hover-color);

}

.header-tel:hover,
.header-tel:focus{
color: var(--hover-color);
}

    .feature-list {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    }
    .feature-item {
    flex-basis: calc((100% - 72px) / 4);
    
    }
    .feature-icon {
    height: 112px;
    display: flex;
    align-items: center; 
    justify-content: center; 
    background-color: var(--background-feature-color);
    margin-bottom: 8px;
}
.feature-icon-item {
    fill: var(--accent-color);
}
.team-list {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
}
.team-item {
    background: var(--background-secondary-color);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
    flex-basis: calc((100% - 72px) / 4);
    min-width: 250px;
    
}
}